{% extends 'base.html' %}
{% block content %}
{% for place in object_list %}
<div class="panel">
  <h3><a href="{{ place.get_absolute_url }}">{{ place.place }}</a></h3>
  <p>Submitted by <a href="{% url 'user_detail' slug=place.user.username %}">{{ place.user.username }}</a> on {{ place.created_at }}</p><p>{{ place.get_category_display }}</p>
</div>
{% empty %}
<p>No results found. Sorry!</p>
{% endfor %}
{% if is_paginated %}
<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a><li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">Next</a><li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}